# Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/
ENV/

# Editor
.idea/

# Database
db.sqlite3

# Static files
static/
filetree.md

# Other
*.log
*.bak
*.tmp
*.DS_Store

# Environment Variables
.env 

# Keys
citysurfer01-firebase-adminsdk-rwzho-fda9b9ff0b.json